{% extends 'chat/layout.html' %}

{% block body %}


<body>
    <div id="chat-log" cols="100" rows="20">
    {% for data in data1 %}
    <h6 style="margin: 5px; border: 2px solid grey; border-radius: 5px; padding: 5px; overflow: hidden">{{data.data}}<small style="float: right"><small>{{data.time}}</small></small></h6>
    {% endfor %}
    </div>
    <div class="input-group mb-3" style="width: 80%; align-items: center; margin: auto; margin-top: 20px">
    <input id="chat-message-input" class="form-control" type="text" size="100"><br>
    <button id="chat-message-submit" style="float: left; margin-left: 2%;" class="btn btn-primary" type="submit" value="Send">Send</button>
    </div>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        document.addEventListener('DOMContentLoaded', function () {
            let divs = document.querySelectorAll('small');
            let target = null;

            divs.forEach(div => {
                if (div.innerHTML.includes("{{user.last_login}}")) {
                    target = div;
                }
                else if (div.innerHTML < "{{user.last_login}}"){
                    target = div;
                }
            });
            
            var topPos = target.offsetTop;
            document.getElementById('chat-log').scrollTop = topPos;
        })

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var div = document.createElement("h6")
            div.innerHTML = data.message
            console.log(div.innerHTML)
            div.style.margin = "5px"
            div.style.borderStyle = 'solid';
            div.style.borderColor = 'grey';
            div.style.borderWidth = '2px';
            div.style.borderRadius = '5px';
            div.style.padding = "5px"
            
            
            var chat_log = document.querySelector('#chat-log');
            chat_log.appendChild(div)
            chat_log.scrollTop = chat_log.scrollHeight;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            const name = "{{user.username}}"
            chatSocket.send(JSON.stringify({
                'message': `${name}:: ${message}`,
                'name': name
            }));
            messageInputDom.value = '';
        };
    </script>
</body>

{% endblock %}